body
{
  background-image: radial-gradient(circle, #1f3756, #141539);
  font-family: 'Barlow Semi Condensed';
}

/* Modal */
.modal {
  padding-top: 100px; /* Location of the box */
}

.modal-content {
  padding: 10px;
  border: none;
  width: 355px!important;
  margin: auto;
}

.modal-header
{
  border: none!important;
}

.modal-title
{
  font-weight: 700;
  color: #1f3756;
  font-size: 2rem;
}

.close
{
  font-size: 3rem!important;
}
