body
{
  background-image: radial-gradient(circle, #1f3756, #141539);
  font-family: 'Barlow Semi Condensed';
  color: #fff!important;
  font-size: 2.5rem!important;
}

/* Modal */
.modal {
  padding-top: 100px; /* Location of the box */

}

.modal-content {
  padding: 10px;
  /* border: none; */
  width: 355px!important;
  margin: auto;
  border-radius: 0.8rem!important;
}

.modal-header
{
  border: none!important;
}

.modal-title
{
  font-weight: 700;
  color: #1f3756;
  font-size: 2rem;
}

.close
{
  font-size: 3rem!important;
}

.buttonModal
{
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.buttonLabel
{
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 2px;
}


.top-rectangle
{
  margin-top: 50px;
  border: 3px solid #5e7087;
  border-radius: 25px;
  padding: 20px;
  width: 50%!important;
}



.score
{
  width: 170px;
  height: 130px;
  background-color:#fff;
  border-radius: 0.8rem;
  text-align: center;
  margin-left: 50px;
  letter-spacing: 2px;
}

.scoreText
{
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  color: #2a46c0;
  padding-top: 15px;
}

.number
{

  font-weight: 700;
  color: #606e85!important;
  font-size: 3.8rem!important;
  line-height: 0.6;
  letter-spacing: -4px;
  margin-right: 4px;
  line-height: 1.1;

}

.logo-img
{
  margin-left: 20px;
  padding-top: 20px;
}

/* game section */

.triangle
{
  position: relative;
  text-align: center;
  /* left: 40%; */
  padding: 0 0 50px 0;
  margin-top: -55px;
  /* z-index: -8; */
  /* margin-left: 500px; */
}

.bg-round
{
  background-color: #fff;
  border-radius: 100%;
  width: 11.25rem;
  height: 11.25rem;
}

.scissors::before, .lalaa::before
{
content: '';
position: absolute;
z-index: 2;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: -2;
margin: -23px;
border-radius: 200px;

}

.scissors::before
{
  box-shadow: 0 10px 0px -1px #C96C1B;
}
.scissors
{
  position: sticky;
  left: 550px;
    border: 25px solid #ec9e0e;
  border-radius: 100%;
  padding: 30px;
  box-shadow: 0 10px 0.5px -2px rgba(0,0,0,0.15) inset;
}

.scissors-img
{
margin-top: auto;
height: 120%;
}

.positionScissors
{
  top: 100px!important;
}
