body
{
  background-image: radial-gradient(circle, #1f3756, #141539);
  font-family: 'Barlow Semi Condensed';
  color: #fff!important;
  font-size: 2.5rem!important;
}

.attribution {
position: absolute;
 left: 0;
 bottom: 0;
 width: 100%;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Modal */
.modal {
  padding-top: 100px;

}

.modal-content {
  padding: 10px;
  width: 355px!important;
  margin: auto;
  border-radius: 0.8rem!important;
}

.modal-header
{
  border: none!important;
}

.modal-title
{
  font-weight: 700;
  color: #1f3756;
  font-size: 2rem;
}

.close
{
  font-size: 3rem!important;
}

.buttonModal
{
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.buttonLabel
{
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 2px;
}


.top-rectangle
{
  margin-top: 10px;
  border: 3px solid #5e7087;
  border-radius: 25px;
  padding: 10px;
  width: 50%!important;
  margin-bottom: 40px;
}

.score
{
  width: 170px;
  height: 130px;
  background-color:#fff;
  border-radius: 0.8rem;
  text-align: center;
  letter-spacing: 2px;
}

.scoreText
{
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  color: #2a46c0;
  padding-top: 15px;
}

.number
{

  font-weight: 700;
  color: #606e85!important;
  font-size: 3.8rem!important;
  line-height: 0.6;
  letter-spacing: -4px;
  margin-right: 4px;
  line-height: 1.1;

}

.logo-img
{
  padding-top: 20px;
  text-align: left;
}

.left
{
  text-align: left;
}

/* game section */

.container
{
  text-align: center;
}


.triangle
{
position: absolute;
z-index: -4;
  margin-top: 120px;
}

/* ICON */

.round
{
  border-radius: 100%;
  width: 11.25rem;
  height: 11.25rem;

}


.rock
{
  background: url("images/icon-rock.svg") center no-repeat;
  background-color: white;
  border: 20px solid #dd405d;
  box-shadow: inset 0 10px 5px 0 rgba(122, 122, 143, 0.50), 0 10px 0 0 rgb(196, 33, 63);
  margin-right: 40px;

}

.scissors
{
  background: url("images/icon-scissors.svg") center no-repeat;
  background-color: white;
  border: 20px solid #eca922;
  box-shadow: inset 0 10px 5px 0 rgba(122, 122, 143, 0.50), 0 10px 0 0 rgb(212, 142, 12);
  margin-left: 40px;
}

.paper
{
  background: url("images/icon-paper.svg") center no-repeat;
  background-color: white;
  border: 20px solid #5671f5;
  box-shadow: inset 0 10px 5px 0 rgba(122, 122, 143, 0.50), 0 10px 0 0 rgb(57, 88, 243);
  margin-top: 70px;
}

.button-hover:hover{
  transform: scale(0.9);
  opacity: 0.8;
}


/* game  */

.invisible
{
  display: none;
}

.secondScene
{
  margin-top: 80px;
}

.middle-score-space
{
  padding-top: 80px;
}

.subtitles-space
{
  padding-bottom: 50px;
}

#buttonSecondScene
{
  margin: 0;
  background-size: 40%;

}
img#buttonSecondScene
{
  width: 15rem;
  height: 15rem;
}

#buttonSecondScenePc
{
  margin: 0;
  background-size: 40%;
}

img#buttonSecondScenePc
{
  width: 15rem;
  height: 15rem;
}


#center-score-text
{
  letter-spacing: 2px;
  font-weight: 700;
}

#center-score-square
{
  width: auto;
}


/* SPINNER ------------------------------------------------- */
.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #fff;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 0.5s infinite ease-in-out;
  animation: sk-scaleout 0.5s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

/* MEDIA QUERIES */

@media screen and (max-width: 991px){

.top-rectangle
{
  transform: scale(0.8);
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
  width: auto!important;
}

.mobile-game-container
{
  transform: scale(0.8);
  padding: 0!important;
}

/* SECOND SCENE MOBILE */

.nr1
{
  order: 1;
}

img#buttonSecondScene
{
  width: 8rem;
  height: 8rem;
}


.nr2
{
  order: 3;
}

.nr3
{
  order: 2;
}

img#buttonSecondScenePc
{
  width: 8rem;
  height: 8rem;
}

.subtitles-space
{
  font-size: 1rem;
}

#center-score-square
{
  padding-top: 50px;
}

.restartGame
{
  padding-left: 40px!important;
  padding-right: 40px!important;
}

#center-score-text
{
  color: #fff!important;
  font-size: 2rem;
}

.buttonModal
{
  position: static;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 38%;
}


}

@media screen and (max-width: 430px){
  .mobile-game-container
  {
    transform: scale(0.7);
    padding: 0!important;
  }

  .row-first-scene
  {
    flex-wrap: nowrap!important;
  }

}
